<style>@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

</style>

li{
    display: inline;
    /*deixa a lista na horizontal*/
    padding: 0px 5px 10px 5px;
    float: right;
    *para deixar o menu a direita*/
}
a {
    font-family: "Quicksand", sans-serif;
}